body {
  padding: 0;
  margin: 0;
  font-family: "gilroy-medium", sanserif;
}

.outer-wrapper{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1),  rgb(255, 248, 213), rgba(255, 255, 255, 1));
}

.nav-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.nav-logo img {
  cursor: pointer;
}

.nav-menus ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #141414;
}

.nav-register {
  display: flex;
  gap: 2rem;
}

.primary-blue {
  color: #0065fe;
}

/* .fa-solid{
    padding-left: 0.2rem;
} */

.try-it {
  background-color: rgba(0, 101, 254, 1);
  color: white;
  font-size: 15px;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  border-color: rgba(0, 101, 254, 1);
  cursor: pointer;
}

.login {
  padding-top: 0.4rem;
}

.menu-bars {
  display: none;
}

/* media query for navbar on mobile view */
@media screen and (max-width: 786px) {
    .menu-bars {
        display: block;
    }
    .nav-menus, .nav-register{
        display: none;
    }
  
}
.hero-wrapper{
    padding-top: 6rem;
    margin: 0 auto;
    max-width: 1200px;
}

.hero-section{
    max-width: 900px;
   margin: 0 auto;
}

.hero-title{
    text-transform: capitalize;
  
  
}

.hero-URL{
    position: relative;
    color: rgba(0, 90, 226, 1);
}


